<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/styleBrowse.css' />
  <title>Cling.</title>
</head>
 <body> 
  <nav>
    <% if (user) {%>
      <div>Cling.</div>
      <!-- <a href="/">Home</a> -->
      <a href="/workouts/new">Create</a>
      <a href="/workouts">My Plans</a>    
      <!-- <a href="/workouts">Browse</a> -->
      <a class="log-out" href="/logout">Log out</a>
      <br>
      <br>
  </nav>
    <%} else {%>
<%- include('../partials/header') %>
    <% } %>      
 
  