<%- include('../partials/browseHeader') %>

<div class="big-container">
  <article>
    <div class="tension">
      <input type="radio" id="mk2" name="board">
      <label for="mk2"></label>
    </div>
    <div class="beast">
      <input type="radio" id="2000" name="board">
      <label for="2000"></label>
    </div>
  </article>
  <section>
    <form id="new-training" action="/workouts" method="POST">
      <label for=""></label>
    </form>
  </section>
</div>



<%- include('../partials/footer') %>