<%- include('../partials/browseHeader') %>

<div class="big-container">
  <div class="boards">
    <div class="tension">
      <div class="mk2">
        <input type="image" id="image" src="https://cdn.shortpixel.ai/spai/w_625+q_glossy+ret_img+to_webp/https://www.tensionclimbing.com/wp-content/uploads/2019/11/WEBfrontMK2.png">
      </div>
    </div>
    <div class="beast">
      <div class="2000">
        <input type="image" id="image" src="https://cdn.shopify.com/s/files/1/0424/1145/products/BM-2000-Product_L1160638_800x.jpg?v=1624639590">
      </div>
    </div>
  </div>
  <div class="forms">
    <div class="form-container">
      <form id="new-training" action="/workouts" method="POST">
        <label for=""></label>
      </form>
    </div>
  </div>
</div>



<%- include('../partials/footer') %>