<%- include('../partials/browseHeader') %>

<div class="big-container">
  <div class="boards">
    <div class="tension">
      <label for="mk2-boardCheck">
      <div class="mk2">
        <input type="checkbox" id="mk2-boardCheck" name="boardUsed" value="Mk2">
        <img src="https://cdn.shortpixel.ai/spai/w_625+q_glossy+ret_img+to_webp/https://www.tensionclimbing.com/wp-content/uploads/2019/11/WEBfrontMK2.png">
      </div>
      </label>
    </div>
    <!-- <div class="beast">
      <label for="2000-boardCheck">
      <div class="beastMaker">
        <input type="radio" id="2000-boardCheck" name="board" value="beast">
        <img src="https://cdn.shopify.com/s/files/1/0424/1145/products/BM-2000-Product_L1160638_800x.jpg?v=1624639590">
      </div>
      </label>
    </div> -->
  </div>
  <div class="forms">
    <div class="form-container">
      <h2>Create new plan</h2>
      <div class="training-form">
        <form id="new-form" action="/workouts" method="POST">
          <div class="name">
            <label>Regimen name</label>
            <input type="text" name="name">
          </div>
            <br>
          <div class="select-all">
            <div class="mk2-form">
              <label>Hold:</label>
              <select name="hold">
                <option value="choose">Select</option>
                <option value="8mm">8mm</option>
                <option value="10mm">10mm</option>
                <option value="15mm">15mm</option>
                <option value="20mm">20mm</option>
                <option value="25mm">25mm</option>
                <option value="30mm">30mm</option>
                <option value="50mm">50mm</option>
                <option value="jug">Top jug</option>
              </select>

            <label>Grip:</label>
              <select name="grip">
                <option value="choose">Select</option>
                <option value="Jug">jug</option>
                <option value="Sloper">sloper</option>
                <option value="Pinch">pinch</option>
                <option value="Open-hand">open hand</option>
                <option value="Half-crimp">half crimp</option>
                <option value="Full-crimp">full crimp</option>
              </select>

              <label>Sets:</label>
              <input type="number" min="0" name="set" style="width: 7vmin">
              <label>Reps:</label>
              <input type="number" min="0" name="rep" style="width: 7vmin">
              <label>Hang time (s):</label>
              <input type="number" min="0" name="hTime" style="width: 7vmin">
              <label>Rest (m):</label>
              <input type="number" min="0" name="rTime" style="width: 7vmin">
            </div>
            
              <br>
              <br>
              <input type="submit" value="Add Plan">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>

<script>
  
</script>

<%- include('../partials/footer') %>