body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color:aliceblue;
}

#train {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#big-container {
  margin: 5vmin 10vmin;
}

a {
  color: aliceblue;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}