* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color:aliceblue;
}

nav {
  display: flex;
  background-color: gray;
  padding: 0 15px;
  height: 7vmin;
  width: 80%;
  justify-content: flex-end;
  align-items: center;
  top: 0px;
  margin-bottom: 10vmin;
}

nav > div {
  margin-right: auto;
  padding-left: 5vmin;
  font-size: 25px;
}

nav a {
  color: aliceblue;
  padding: 0 2vmin;
  font-size: 3.8vmin;
  margin-right: 7vmin;
  text-decoration: none;
}


#big-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vmin;
  width: 20vmin;
}

article > div {
  margin: 10vmin 0 10vmin 0;
}

section {
  height: 60vmin;
  width: 100vmin;
  border: 2px white solid;
}